.page {
	width: 100%;
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	
	@media (min-width: $screen-lg-min) {
	}
	
	@media (min-width: $screen-xl-min) { 
		min-height: 100vh;
	}
}

.main {
	flex-grow: 1;

	@media (min-width: $screen-lg-min) {

		&__content {
		
			&--wrap {
				margin: 0 auto;
				max-width: 714px;
			}

			&--layout {
				margin: 0 auto;
				max-width: 718px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			display: flex;
		}

		&__sidebar {
			width: 295px;
			z-index: 20;
			position: relative;
			background: #F8F8F8;
			border-right: 2px solid #DFDFDF;
			flex-shrink: 0;

			&::before {
				width: 800px;
				right: 100%;
				top: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				display: $yellow;
				position: absolute;
				background: #F8F8F8;
			}

			&--clean {
				width: 210px;
				background: transparent;
				border-right-color: transparent;

				&::before {
					display: none;
				}
			}
		}

		&__content {
			z-index: 5;
			position: relative;
			width: calc(100% - 295px);

			&--clean {
				width: calc(100% - 210px);

				.main__content--wrap {
					margin: 0;
					max-width: 820px;
				}
			}
		}
	}
}

.main-news {
	padding-bottom: 70px;


	@media (min-width: $screen-xl-min) {
		padding-bottom: 100px;
	}
}

.heading {
	padding-top: 70px;
	padding-bottom: 20px;

	&__title {
		margin: 0;
		color: $black;
		font-size: 3rem;
		line-height: 110%;
	}

	&__text {
		max-width: 620px;
		padding-top: 10px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 40px;

		&__title {
			font-size: 5rem;
		}

		&__text {
			padding-top: 15px;   
		}
	}
	
	@media (min-width: $screen-lg-min) {
		padding-top: 130px;
	}
	
	@media (min-width: $screen-xl-min) {
		padding-bottom: 50px;

		&__title {
			font-size: 6rem;
		}
	}
}

.heading-dark {
	color: $white;
	background: #22201E;

	.heading__title {
		color: $white;
	}

	.breadcrumb {
		color: $white;

		li {

			a {
				color: $white;

				&:hover {
					color: $white;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 60px;
	}
	
	@media (min-width: $screen-xl-min) {
		padding-bottom: 80px;
	}
}

.services {
	background: #111;

	&__item {
		color: #fff;
		min-height: 320px;
		padding: 50px 15px 30px 15px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&--one {
			background-image: url('../img/services__image_1_sm.jpg');
		}
		
		&--two {
			background-image: url('../img/services__image_2_sm.jpg');
		}
		
		&--three {
			background-image: url('../img/services__image_3_sm.jpg');
		}

		&--wrap {
			margin: auto 0;
		}
	}

	&__icon {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		margin: 0 auto 14px auto;
		box-shadow: 0px 0px 15px $yellow;
		flex-shrink: 0;
	}

	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 110%;
		margin-bottom: 10px;
		font-family: $font-family-head;
	}

	&__content {
		text-align: center;
	}

	&__text {
		margin: 0 auto;
		max-width: 300px;
		font-size: 1.6rem;
		line-height: 135%;
		margin-bottom: 30px;
	}
	
	&__link {
		display: flex;
		justify-content: center;

		a {
			display: flex;
			align-items: center;
			color: #fff;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.8rem;
			padding-bottom: 5px;
			text-decoration: none;
			letter-spacing: 0.11em;
			text-transform: uppercase;
			font-family: $font-family-head;
			border-bottom: 2px solid $yellow;
	
			span {
				padding-right: 10px;
				white-space: nowrap;
				display: inline-block;
			}
	
			i {
				width: 31px;
				font-size: 0;
				line-height: 0;
				display: inline-block;
				flex-shrink: 0;
				position: relative;
				transition: .3s;

				&::before {
					top: 50%;
					left: 0;
					content: '';
					width: 20px;
					height: 2px;
					display: block;
					margin-top: -1px;
					position: absolute;
					background: $yellow;
				}
			}
	
			svg {
				left: 0;
				fill: $yellow;
				position: relative;
				transition: .3s;
			}
	
			&:hover {
				color: $white;
				text-decoration: none;

				i {
	
				}

				svg {
					left: 20px;
					transition: .3s;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			min-height: 327px;
			padding-top: 40px;

			&--wrap {
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}
		}

		&__icon {
			margin: 0;
			width: 80px;
			height: 80px;
		}

		&__content {
			width: 350px;
			text-align: left;
			padding-left: 40px;
			flex-shrink: 0;
		}

		&__title {
			font-size: 3.6rem;
			line-height: 110%;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 135%;
			max-width: 310px;
			margin-bottom: 24px;
		}

		&__link {
			justify-content: flex-start;
		}
	}

	@media (min-width: $screen-xl-min) {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	
		&__row {
			margin: 0 auto;
			max-width: 1920px;
			width: 100%;
			display: flex;
			flex-grow: 1;
		}
	
		&__item {
			width: 33.33%;
			height: auto;
			display: flex;
			position: relative;
			flex-direction: column;

			&::before {
				top: 0;
				right: 0;
				bottom: 0;
				width: 1px;
				z-index: 10;
				content: '';
				position: absolute;
				background: rgba(255,255,255,0.1);
			}

			&--one {
				background-image: url('../img/services__image_1_md.jpg');
			}
			
			&--two {
				background-image: url('../img/services__image_2_md.jpg');
			}
			
			&--three {
				background-image: url('../img/services__image_3_md.jpg');

				&::before {
					display: none;
				}
			}

			&--wrap {
				display: block;
			}
		}

		&__icon {
			margin: 0 auto 16px auto;
		}

		&__content {
			padding: 0;
			width: auto;
			text-align: center;
		}

		&__text {
			max-width: 380px;
		}

		&__link {
			justify-content: center;
		}

		&__hover {
			display: none;
		}
	}
}

.service-heading {
	color: #fff;
	padding-top: 70px;
	padding-bottom: 60px;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	&::before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		opacity: 0.7;
		display: block;
		position: absolute;
		background: #22201E;
	}

	.container {
		z-index: 10;
		position: relative;
	}

	.breadcrumb {
		color: $white;

		li {

			a {
				color: $white;
			}
		}
	}

	&__title {
		max-width: 840px;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 1.6rem;
		line-height: 150%;
	}

	&__info {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		min-height: 460px;
		padding-top: 90px;
		padding-bottom: 70px;

		&__text {
			max-width: 550px;
			font-size: 1.8rem;
			margin-bottom: 30px;
		}
		
		&__info {
			margin: 0;
			padding: 0;
			font-size: 1.8rem;
			line-height: 135%;
			text-align: center;
			list-style: none;
			display: flex;
			justify-content: space-between;

			li {
			}

			&--title {
				color: $yellow;
				font-weight: 900;
				font-size: 3.6rem;
				line-height: 110%;
				margin-bottom: 5px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		height: 480px;
		padding-top: 110px;

		&__info {
			max-width: 680px;
			text-align: left;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		height: 550px;
		padding-top: 130px;
		
		&__info {
			max-width: 710px;
			font-size: 2rem;
		}
	}
}

.service-nav {
	font-size: 2rem;
	font-weight: 600;
	line-height: 110%;

	ul {
		padding: 0;
		margin: 0 auto;
		list-style: none;

		li {
			position: relative;

			a {
				opacity: 0.5;
				padding: 20px;
				color: $black;
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				transition: .3s;
				font-family: $font-family-head;

				&::before {
					content: '';
					bottom: 0;
					height: 2px;
					left: -500px;
					right: -500px;
					display: block;
					position: absolute;
					background: #DFDFDF;
				}

				&::after {
					left: 50%;
					opacity: 0;
					z-index: 2;
					width: 13px;
					height: 11px;
					bottom: 2px;
					content: '';
					display: block;
					margin-left: -7px;
					visibility: hidden;
					position: absolute;
					background: url('../img/service_nav_arrow.svg') 50% 100% no-repeat;
				}

				i {
					width: 30px;
					font-size: 0;
					line-height: 0;
					display: block;
					flex-shrink: 0;
				}

				span {
					width: 185px;
					display: block;
					padding-left: 16px;
				}

				&:hover {
					opacity: 1;
					transition: .3s;
				}
			}
			
			&.active {
		
				a {
					opacity: 1;
					transition: .3s;
			

					&::after {
						opacity: 1;
						visibility: visible;
					}

					&::before {
						height: 5px;
						background: $yellow;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 2.4rem;

		ul {

			li {

				a {
					padding-left: 60px;

					i {
						width: 40px;
					}

					span {
						width: 220px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		position: relative;

		&::before {
			content: '';
			bottom: 0;
			height: 2px;
			left: -500px;
			right: -500px;
			display: block;
			position: absolute;
			background: #DFDFDF;
		}

		ul {
			width: 100%;
			max-width: inherit;
			display: flex;
			align-items: center;
			justify-content: center;

			li {

				&::before {
					top: 50%;
					right: -1px;
					width: 2px;
					height: 50px;
					content: '';
					display: block;
					position: absolute;
					margin-top: -25px;
					background: #DFDFDF;
				}

				&:last-child {

					&::before {
						display: none;
					}
				}

				a {
					height: 86px;
					padding: 20px 25px;
					border-bottom: none;

					&::before {
						left: 0;
						right: 0;
						height: 5px;
						opacity: 0;
						visibility: hidden;
						background: $yellow;
					}

					span {
						width: auto;
					}
				}

				&.active {

					a {

						&::before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 30px;

		&::before {
			display: none;
		}

		ul {
			display: block;

			li {

				&::before {
					display: none;
				}

				a {
					padding: 20px 0;
					justify-content: flex-start;

					&::before {
						display: none;
					}

					&:after {
						display: none !important;
					}
				}
			}
		}
	}
}

.service-title {
	text-align: center;
	padding: 40px 0 30px 0;

	&__wrap {
		max-width: 600px;
		margin: 0 auto;
	}

	h2 {
		margin: 0;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 55px;
		padding-bottom: 30px;


	}
	
	@media (min-width: $screen-lg-min) {
		padding-top: 50px;
		padding-bottom: 40px;
		text-align: left;

		&__wrap {
			margin: 0 auto;
			max-width: 714px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		text-align: left;

		&__wrap {

		}
	}
}

.service-menu {
	margin: 0 -80px;

	&__item {
		color: $white;
		padding: 50px 0;
		font-size: 1.6rem;
		line-height: 135%;
		text-align: center;
		position: relative;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			opacity: 0.8;
			display: block;
			position: absolute;
			background: #22201E;
		}

		&--wrap {
			z-index: 20;
			margin: auto auto;
			padding: 0 20px;
			position: relative;
		}
		
		&--link {
			display: flex;
			justify-content: center;

			a {
				display: flex;
				align-items: center;
				color: #fff;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 1.8rem;
				padding-bottom: 5px;
				text-decoration: none;
				letter-spacing: 0.11em;
				text-transform: uppercase;
				font-family: $font-family-head;
				border-bottom: 2px solid $yellow;
		
				span {
					padding-right: 10px;
					white-space: nowrap;
					display: inline-block;
				}
		
				i {
					width: 31px;
					font-size: 0;
					line-height: 0;
					display: inline-block;
					flex-shrink: 0;
					position: relative;
					transition: .3s;

					&::before {
						top: 50%;
						left: 0;
						content: '';
						width: 20px;
						height: 2px;
						display: block;
						margin-top: -1px;
						position: absolute;
						background: $yellow;
					}
				}
		
				svg {
					left: 0;
					fill: $yellow;
					position: relative;
					transition: .3s;
				}
		
				&:hover {
					color: $white;
					text-decoration: none;

					i {
		
					}

					svg {
						left: 20px;
						transition: .3s;
					}
				}
			}
		}

		&--title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 110%;
			font-family: $font-family-head;
		}

		&--hover {
			padding-top: 10px;
		}

		&--text {
			max-width: 300px;
			margin: 0 auto 20px auto;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			font-size: 18px;
			line-height: 135%;
			min-height: 282px;
			display: flex;
			align-items: center;
			justify-content: center;

			&--title {
				font-size: 2.4rem;
			}

			&--hover {
				padding-top: 15px;
			}

			&--text {
				max-width: 440px;
				margin-bottom: 40px;
			}
		}
	}	

	@media (min-width: $screen-xl-min) {
		margin-left: 0;
		margin-right: -100px;

		&__item {
			font-size: 20px;
			line-height: 135%;
			padding: 65px 0;
			min-height: 160px;
			justify-content: flex-start;

			&--wrap {
				max-width: 1200px;
			}

			&--hover {
				display: none;
				padding-bottom: 60px;
			}

			&:hover {


			}
		}
	}
}


.content-block {
	padding-top: 60px;
	padding-bottom: 40px;

	h2 {
		text-align: center;
	}

	p {
		margin-bottom: 20px;
	}

	
	@media (min-width: $screen-lg-min) {

		h2 {
			text-align: left;
			max-width: 700px;
		}
	}	
}

.content-media {
	position: relative;
	margin-bottom: 70px;

	&__slider {
		margin: 0 -20px;
	}

	&__item {
		height: 360px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__nav {
		padding-top: 20px;
		display: flex;
		align-item:center;
		justify-content: center;
	}

	&__button {
		width: 46px;
		height: 46px;
		opacity: 0.6;
		border: none;
		outline: none;
		display: block;
		transition: .3s;
		border-radius: 50%;
		flex-shrink: 0;

		&:hover {
			opacity: 1;
			transition: .3s;
		}

		&--next {
			@include rotate(180deg);
		}
	}

	&__counter {
		color: #000;
		margin: 0 20px;
		font-size: 1.4rem;
		line-height: 110%;
		text-align: center;
		font-family: $font-family-head;

		&--total {
			opacity: 0.5;
		}

		&--active {
			font-size: 3rem;
			font-weight: 900;
			line-height: 110%;
		}
	}

	&__pagination {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		padding-right: 16px;
		margin-right: -16px;
		
		&__slider {
			margin: 0;
		}

		&__nav {
			justify-content: flex-end;
		}

		&__counter {
			order: 1;
		}

		&__button {

			&--prev {
				order: 2;
			}
			
			&--next {
				order: 3;
				margin-left: 36px;
			}
		}

		&__pagination {
			top: 0;
			right: 0;
			left: auto;
			width: 6px;
			bottom: auto;
			display: block;
			border-radius: 3px;
			position: absolute;
			background: rgba(0,0,0,0.2);
		}

		.swiper-pagination-bullet {
			opacity: 1;
			width: 6px;
			height: 26px;
			border: none;
			outline: none;
			display: block;
			margin-bottom: 20px;
			position: relative;
			border-radius: 3px;
			background: transparent;

			&::before {
				top: 10px;
				left: 0;
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 3px;
				position: absolute;
				transition: .3s;
				background: #000;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.swiper-pagination-bullet-active {

			&::before {
				top: 0;
				height: 26px;
				transition: .3s;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {

	}
	
	@media (min-width: $screen-xl-min) {
	
	}
	
}

.content-progress {
	color: #000;
	padding: 40px 0;
	font-size: 1.6rem;
	line-height: 135%;
	text-align: center;
	background: $yellow;
	position: relative;

	&::after,
	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		width: 1000px;
		content: '';
		display: block;
		position: absolute;
		background: $yellow;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				display: block;
			}

			strong {
				display: block;
				font-weight: 900;
				font-size: 24px;
				line-height: 110%;
				margin-bottom: 5px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 48px 0;
		text-align: left;
		font-size: 1.8rem;

		ul {
			display: flex;
			justify-content: space-between;

			li {
				margin-bottom: 0;
				width: calc(33.33% - 15px);

				strong {
					font-size: 3.6rem;
					line-height: 110%;
					margin-bottom: 5px;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
		
	@media (min-width: $screen-xl-min) {
	}
}

.advantage {
	color: #000;
	font-size: 1.6rem;
	line-height: 135%;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		&--icon {
			width: 70px;
			height: 70px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto 15px auto;
		}

		&--title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 110%;
			margin-bottom: 10px;
			font-family: $font-family-head;
		}

		&--text {
			max-width: 280px;
			margin: 0 auto;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		margin: 0 -15px 30px -15px;
		display: flex;
		justify-content: space-between;

		&__item {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;

			&--title {
				font-size: 2.4rem;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
}

.quote {
	color: $black;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 150%;
	background: $gray;
	font-style: italic;
	position: relative;
	padding-top: 100px;
	padding-bottom: 40px;

	&::after {
		left: 0;
		top: 27px;
		z-index: 5;
		content: '';
		width: 147px;
		height: 115px;
		display: block;
		position: absolute;
		background: url('../img/icon__quote.svg') 0 0 no-repeat;
	}

	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		left: -1000px;
		right: -1000px;
		display: block;
		background: $gray;
		position: absolute;
	}

	&__wrap {
		z-index: 10;
		position: relative;
	}
		
	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		padding-top: 80px;
		padding-bottom: 50px;
	}
	
	@media (min-width: $screen-xl-min) {


	}
}

.quote-yellow {
	color: $black;
	background: $yellow;

	&::after {
		background: url('../img/icon__quote_white.svg') 0 0 no-repeat;
	}

	&::before {
		background: $yellow;
	}
}

.accordion {
	padding-top: 5px;
	margin: 0 -20px;
	margin-bottom: 60px;

	&__item {
		font-size: 1.6rem;
		line-height: 130%;
		padding: 0 20px;
		border-bottom: 2px solid #DFDFDF;

		&.active {
			background: #EDEDED;

			.accordion__header--icon {

				&::after {
					transition: .3s;
					@include rotate(270deg);
				}
				
				&::before {
					transition: .3s;
					@include rotate(180deg);
				}
			}
		}
	}

	&__header {
		padding: 12px 0;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 130%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--title {
			padding-right: 20px;
		}

		&--icon {
			width: 24px;
			height: 24px;
			font-size: 0;
			line-height: 0;
			display: block;
			position: relative;
			flex-shrink: 0;

			&:after,
			&::before {
				top: 50%;
				left: 50%;
				z-index: 5;
				content: '';
				width: 24px;
				height: 4px;
				display: block;
				position: absolute;
				background: $yellow;
				margin: -2px 0 0 -12px;
				transition: .3s;
			}
		}
	}

	&__content {
		display: none;
		padding-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {

		&__header {
			padding: 18px 0;
			font-size: 1.8rem;
		}

		&__item {
			font-size: 1.8rem;
		}

		&__content {
			padding-bottom: 80px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		margin: 0 0 70px 0;
	}
	
}

.stages {
	color: $black;
	margin-bottom: 20px;

	&__item {
		max-width: 240px;
		position: relative;
		margin: 0 auto 50px auto;

		&::before {
			left: 50%;
			bottom: -45px;
			content: '';
			width: 16px;
			height: 31px;
			display: block;
			margin-left: -8px;
			position: absolute;
			background: url('../img/stage_arrow_yellow.svg') 50% 0 no-repeat
		}

		&:last-child {
			margin-bottom: 0;

			&::before {
				display: none;
			}
		}
	}

	&__num {
		margin-left: 20px;
		margin-bottom: 10px;
		position: relative;
		font-family: $font-family-head;

		&--value {
			color: $yellow;
			font-weight: 900;
			font-size: 7.2rem;
			line-height: 100%;
		}

		&--legend {
			left: 60px;
			bottom: 8px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 100%;
			position: absolute;
		}
	}

	&__content {
		text-align: center;
		font-size: 1.6rem;
		line-height: 135%;
	}

	@media (min-width: $screen-md-min) {
		display: flex;
		margin: 0 -12px 40px -12px;
		justify-content: space-between;

		&__item {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;

			&::before {
				left: 100%;
				top: 35px;
				bottom: auto;
				margin-left: -30px;
				@include rotate(-90deg);
			}
		}

		&__num {
			margin-left: 0;

			&--legend {
				font-size: 2.4rem;
				line-height: 2.4rem;
			}
		}

		&__content {
			font-size: 1.8rem;
		}
	}
}

.gray-block {
	padding: 60px 0;
	background: $gray;
	position: relative;

	&::after,
	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 1000px;
		display: block;
		position: absolute;
		background: $gray;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	h2 {
		color: #000;
		text-align: center;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	@media (min-width: $screen-lg-min) {

		h2 {
			text-align: left;
		}
	}	

	@media (min-width: $screen-xl-min) {
	}	
}

.white-block {
	padding: 60px 0;
	background: #F8F8F8;
	position: relative;

	&__wrap {
		z-index: 20;
		position: relative;
	}
	
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;
	}	
	
	@media (min-width: $screen-xl-min) {
		padding-top: 80px;
		padding-bottom: 80px;
	}	
}

.yellow-block {
	padding: 60px 0;
	background: $yellow;
	position: relative;

	&::after,
	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 1000px;
		display: block;
		position: absolute;
		background: $yellow;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	h2 {
		color: #000;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	@media (min-width: $screen-lg-min) {

		h2 {
			text-align: left;
		}
	}	

	@media (min-width: $screen-xl-min) {
		padding-top: 80px;
		padding-bottom: 80px;
	}	
}

.steps {

	&__item {
		color: #000;
		font-size: 1.6rem;
		line-height: 135%;
		text-align: center;
		position: relative;
		margin-bottom: 50px;

		&::before {
			left: 50%;
			bottom: -40px;
			content: '';
			width: 16px;
			height: 31px;
			display: block;
			margin-left: -8px;
			position: absolute;
			background: url('../img/step_arrow_black.svg') 50% 0 no-repeat
		}

		&:last-child {
			margin-bottom: 0;

			&::before {
				display: none;
			}
		}

		&--icon {
			width: 70px;
			margin: 0 auto 10px auto;
		}

		&--title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 110%;
			margin-bottom: 10px;
			font-family: $font-family-head;
		}

		&--text {
			margin: 0 auto;
			max-width: 240px;
		}
	}

	@media (min-width: $screen-md-min) {
		display: flex;
		padding-top: 10px;
		margin: 0 -12px;
		justify-content: space-between;


		&__item {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;
			
			&::before {
				left: 100%;
				top: 20px;
				bottom: auto;
				margin-left: -10px;
				@include rotate(-90deg);
			}

			&--title {
				font-size: 2.4rem;
			}

			&--text {

			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

.vsteps {

	&__item {
		color: #000;
		font-size: 1.6rem;
		line-height: 135%;
		padding-bottom: 25px;
		position: relative;
		display: flex;
		align-item: flex-start;

		&::before {
			left: 34px;
			top: 50px;
			bottom: -4px;
			z-index: 1;
			content: '';
			width: 2px;
			position: absolute;
			background: url('../img/step_line.svg') 0 0 no-repeat;
		}

		&:last-child {
			padding-bottom: 0;
			
			&::before {
				display: none;
			}
		}

		&--content {
			padding-left: 10px;
		}

		&--icon {
			z-index: 10;
			width: 70px;
			flex-shrink: 0;
			position: relative;
		}
		
		&--title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 110%;
			margin-bottom: 10px;
			font-family: $font-family-head;
		}

		&--text {
			max-width: 375px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			font-size: 1.8rem;
			padding-bottom: 36px;

			&:last-child {
				padding-bottom: 0;
			}

			&--title {
				font-size: 2.4rem;
			}
		
			&--content {
				padding-left: 20px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
}

.blockquote {

	&__author {
		text-align: center;
		color: #000;
		margin-bottom: 20px;

		&--photo {
			width: 168px;
			height: 168px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto 10px auto;
		}

		&--name {
			font-size: 2rem;
			font-weight: 600;
			line-height: 130%;
			max-width: 220px;
			margin: 0 auto 5px auto;
		}

		&--staff {
			font-size: 1.6rem;
			line-height: 135%;
		}
	}

	&__content {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 150%;
		font-style: italic;
		position: relative;

		&::before {
			left: 0;
			top: 0px;
			z-index: 5;
			content: '';
			width: 147px;
			height: 115px;
			display: block;
			position: absolute;
			background: url('../img/icon__quote.svg') 0 0 no-repeat;
		}

		&--wrap {
			z-index: 10;
			position: relative;
		}
	}
	
	@media (min-width: $screen-md-min) {
		display: flex;

		&__author {
			width: 190px;
			flex-shrink: 0;
			margin-bottom: 0;
			margin-right: 20px;
		}

		&__content {
			font-size: 18px;
			line-height: 150%;
			padding-top: 38px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

}

.block-advantage {
	font-size: 1.6rem;
	line-height: 150%;
	color: #fff;
	padding: 60px 0;
	position: relative;

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	&__bg {
		top: 0;
		bottom: 0;
		z-index: 1;
		left: -85px;
		right: -80px;
		position: absolute;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			opacity: 0.9;
			background: #22201E;
			position: absolute;
		}
	}

	&__content {
		z-index: 20;
		position: relative;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 30px;
			padding-left: 42px;
			background: url('../img/icon__check.svg') 0 0 no-repeat;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		padding: 70px 0;

		&__bg {
			left: -200px;
			right: -200px;
		}

		h2 {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__bg {
			left: -117px;
			right: -500px;
		}
	}
}

.block-about {

	&__content {
		margin-bottom: 30px;

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__media {
		height: 320px;
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (min-width: $screen-md-min) {
		display: flex;
		justify-content: space-between;

		&__content {
			margin: 0;
			padding-right: 10px;

			h2 {
				text-align: left;
			}
		}

		&__media {
			width: 320px;
			height: auto;
			flex-shrink: 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 20px 0;
		margin-right: -90px;

		&__media {
			width: 403px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		margin-right: -120px;

		&__content {
			padding-right: 20px;

			h2 {
				padding-right: 30px;
			}
		}
	}
}

.sidenav {
	z-index: 200;
	position: relative;

	&__header {
		padding: 20px 0 22px 0;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 110%;
		position: relative;
		text-transform: uppercase;
		font-family: $font-family-head;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			content: '';
			bottom: 0;
			left: -800px;
			right: -500px;
			height: 2px;
			display: block;
			position: absolute;
			background: #DFDFDF;
		}

		span {
			padding-right: 10px;
			white-space: nowrap;
			display: inline-block;
		}

		i {
			width: 14px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}
	
		svg {
			fill: $yellow;
		}
	}

	&__content {
		display: none;
		padding: 25px 0;
		font-weight: 600;
		font-size: 2rem;
		line-height: 130%;
		text-align: center;
		font-family: $font-family-head;

		ul {
			margin: 0 auto;
			padding: 0;
			max-width: 390px;
			list-style: none;

			li {
				margin-bottom: 25px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #000;
					text-decoration: none;
					display: inline-block;

					span {
						opacity: 0.5;
						display: inline-block;
						transition: .3s;
					}

					i {
						height: 14px;
						font-size: 0;
						line-height: 0;
						display: none;
					}


					&:hover {

						span {
							opacity: 0.7;
							transition: .3s;
						}
					}
				}

				&.active {

					a {
						
						span {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&.open {

		.sidenav__header {

			i {
				@include rotate(180deg);
			}
		}

		.sidenav__content {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			font-size: 1.8rem;
		}

		&__content {
			font-size: 2.4rem;
			padding-top: 34px;

			li {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
	
		&__header {
			height: 100px;
			text-align: left;
			justify-content: flex-start;

			i {
				display: none;
			}

			&::before {
				right: 0;
			}
		}

		&__content {
			padding-right: 20px;
			display: block;
			text-align: left;

			ul {

				li {
					transition: .3s;

					a {
						left: -20px;
						position: relative;
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						transition: .3s;
						
						i  {
							opacity: 0;
							visibility: hidden;
							margin-top: 9px;
							margin-right: 9px;
							display: inline-block;
						}

						svg {
							fill: $yellow;
						}

						&:hover {
							left: 0;
							transition: .3s;

							span {

							}

							i {
								opacity: 1;
								visibility: visible;
								transition: .3s;
							}
						}
					}

					&.active {

						a {
							left: 0;
							transition: .3s;

							i {
								opacity: 1;
								visibility: visible;
								transition: .3s;
							}
						}
					}
				}
			}
		}
	}
}

.offer {
	overflow: hidden;
	color: #000;
	background: $yellow;

	&__layout {
		padding: 60px 0;
		position: relative;
	}

	&__header {
		color: #000;
		font-size: 3rem;
		font-weight: 600;
		line-height: 130%;
		text-align: center;
		margin-bottom: 10px;
	}

	&__form {
		
		&--group {
			margin-bottom: 25px;
		}


		&--button {
			text-align: center;
			padding-top: 15px;
		}
	}

	&__user {
		display: none;
	}

	@media (min-width: $screen-md-min) {
			
		&__layout {
			padding: 60px 0;
		}

		&__header {
			max-width: 640px;
			font-size: 5rem;
			line-height: 110%;
			text-align: left;
			margin-bottom: 50px;
		}

		&__content {
			z-index: 50;
			position: relative;
		}

		&__form {
			width: 366px;

			&--group {
				margin-bottom: 30px;
			}

			&--button {
				text-align: left;
			}
		}

		&__user {
			right: -60px;
			bottom: 0;
			z-index: 1;
			display: block;
			padding-left: 65px;
			position: absolute;

			&--image {
				width: 324px;
			}

			&--info {
				left: 0;
				bottom: 35px;
				position: absolute;
			}

			&--name {
				font-weight: 600;
				font-size: 2.4rem;
				line-height: 130%;
				margin-bottom: 5px;
				font-family: $font-family-head;
			}

			&--staff {
				font-size: 2rem;
				line-height: 135%;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
				
		&__layout {
			padding: 70px 0;
		}

		&__header {
			margin-bottom: 30px;
		}
		
		&__user {
			right: -60px;
			bottom: 0;
			z-index: 1;
			display: block;
			padding-left: 15px;
			position: absolute;

			&--image {
				width: 408px;
			}

			&--info {
				top: 180px;
				bottom: auto;
				position: absolute;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__layout {
			padding-top: 100px;
			padding-bottom: 115px;
		}

		&__header {
			font-size: 6rem;
		}

		&__form {
			width: 574px;

			&--row {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&--group {
				margin-bottom: 50px;
				width: calc(50% - 17px);

				&.group-long {
					width: 100%;
				}
			}

			&--button {
				padding-top: 0;
			}
		}
				
		&__user {
			right: 0;
			bottom: -1px;
			padding-left: 20px;

			&--image {
				width: 487px;
			}

			&--info {
				top: 110px;
			}
		}
	}	
}

.article-heading {
	padding: 50px 0;
	background: $gray;
	position: relative;

	&::after,
	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 1000px;
		display: block;
		position: absolute;
		background: $gray;
	}

	&::after {
		right: 100%;
	}

	&::before {
		left: 100%;
	}

	h2 {
		color: #000;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		display: none;
	}
	
	@media (min-width: $screen-md-min) {

		&__wrap {
			display: flex;
		}

		&__icon {
			width: 64px;
			display: block;
			flex-shrink: 0;
		}

		&__content {
			padding-left: 26px;
		}
	}

	@media (min-width: $screen-lg-min) {

		h2 {
			text-align: left;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

.list-num {
	margin: 0 0 60px 0;
	padding: 0;
	counter-reset:li;
	list-style: none;

	li {
		padding-left: 44px;
		position: relative;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			top: 3px;
			left: 0;
			color: $yellow;
			font-weight: 900;
			font-size: 2.4rem;
			line-height: 110%;
			position: absolute;
			content: '0' counter(li);
			counter-increment:li; 
		}
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 20px;
		position: relative;
		margin-bottom: 15px;

		&::before {
			left: 0;
			top: 6px;
			content: '';
			width: 10px;
			height: 10px;
			border-radius: 50%;
			position: absolute;
			background: $yellow;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			
			&::before {
				top: 9px;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		li {
			
			&::before {
				top: 12px;
			}
		}
	}
	
}

.news-block {
	padding: 60px 0;
	
	h2,
	.h2 {
		text-align: center;
		margin-bottom: 30px;
	}

	&__slider {
		margin: 0 -20px;
	}

	&__item {
		overflow: hidden;
		height: 400px;
		color: #fff;
		display: block;
		font-size: 1.6rem;
		line-height: 135%;
		position: relative;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&--image {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				content: '';
				opacity: 0.6;
				background: #000;
				position: absolute;
				transition: .3s;
			}
		}

		&--content {
			left: 30px;
			right: 30px;
			bottom: 30px;
			z-index: 20;
			position: absolute;
		}

		&--title {
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 110%;
			margin-bottom: 15px;
			font-family: $font-family-head;
		}

		&:hover {

			.news-block__item--image {

				&::before {
					opacity: 0.8;
					transition: .3s;
				}
			}
		}
	}

	&__nav {
		padding-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		width: 31px;
		font-size: 0;
		line-height: 0;
		border: none;
		outline: none;
		display: inline-block

		svg {
			fill: $black;
			transition: .3s;
		}

		&--prev {
			@include rotate(180deg);
		}

		&:hover {

			svg {
				fill: $yellow;
				transition: .3s;
			}
		}
	}

	&__reload {
		color: #000;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 110%;
		margin: 0 30px;
		display: flex;
		align-items: center;
		text-decoration: none;
		letter-spacing: 0.11em;
		text-transform: uppercase;
		font-family: $font-family-head;
		transition: .3s;

		 i {
			 width: 30px;
			 font-size: 0;
			 line-height: 0;
			 display: inline-block;
		 }

		 span {
			 padding-left: 7px;
			 display: inline-block;
		 }

		 &:hover {
			 color: $yellow;
			 transition: .3s;
			 text-decoration: none;
		 }
	}

	@media (min-width: $screen-md-min) {

		&__slider {
			margin: 0;
		}

		&__item {
			height: 450px;
		}
		
		&__nav {
			padding-top: 44px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		padding: 80px 0;

		&__item {

			&--image {
				@include scale(1);
				transition: .3s;
			}

			&:hover {
				
				.news-block__item--image {
					@include scale(1.2);
					transition: .3s;
				}
			}
		}
	}	
}

.customer {
	z-index: 20;
	position: relative;

	h2,
	.h2 {

	}

	&__content {
		margin-bottom: 30px;

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}


	@media (min-width: $screen-md-min) {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__content {
			margin-bottom: 0;
			padding-right: 10px;
		}

		&__media {
			width: 330px;
			flex-shrink: 0;
		}
	}
	
	@media (min-width: $screen-lg-min) {

		&__media {
	
			&--logo {
				width: 403px;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {

		&__media {
			width: 300 px;
	
			&--logo {
				width: 403px;
			}
		}
	}
	
}

.image-group {
	margin-bottom: 40px;

	&__item {
		margin-bottom: 15px;
	}

	@media (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__item {
			width: calc(50% - 8px);
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -75px 55px 0;
	}

	@media (min-width: $screen-xl-min) {
		margin-right: -104px;
	}
}

.list-extra {
	margin: 0;
	padding: 0;
	counter-reset:li;
	list-style: none;

	li {
		max-width: 300px;
		padding-top: 20px;
		margin-bottom: 28px;
		
		&::before {
			display: block;
			color: $yellow;
			font-weight: 900;
			font-size: 7.2rem;
			line-height: 7.2rem;
			counter-increment:li; 
			content: '0' counter(li);
		}
	}

	@media (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		li {
			width: 300px;
		}
	}
	
}

.tiles {
	margin: 0 -5px 20px -5px;
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 10px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 30px;

		&__item {
			width: 50%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
		&__item {
			width: 33.33%;

			&--long {
				width: 66.66%;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
		margin-bottom: 40px;
	}	
}

.tile {
	display: block;
	height: 300px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.18);

	&__image {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		height: 100%;
		display: block;
		position: absolute;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&::before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 3;
			content: '';
			opacity: 0.6;
			position: absolute;
			background: $black;
		}
	}

	&__content {
		left: 0;
		right: 0;
		bottom: 0;
		min-height: 50%;
		z-index: 10;
		color: $white;
		padding: 20px 20px 10px 20px;
		position: absolute;
		text-decoration: none;
	}

	&__title {
		font-size: 2rem;
		font-weight: 600;
		line-height: 110%;
		max-width: 450px;
		margin-bottom: 10px;
		font-family: $font-family-head;
	}

	&__text {
		max-width: 450px;
		font-size: 1.4rem;
		line-height: 135%;
		margin-bottom: 10px;
	}

	&__link {
		display: none;
	}

	.btn-arrow {
		color: $white;

		&:hover {
			color: $white;
		}
	}
			
	&:hover {

		.tile__content {
			color: $white;
			text-decoration: none;
		}
	}

	&.tile-base {

		.tile__image {
			height: 50%;

			&::before {
				display: none;
			}
		}

		.tile__content {
			color: $black;
			background: $white;
		}
		
		.btn-arrow {
			color: $black;

			&:hover {
				color: $black;
			}
		}
		
		&:hover {

			.tile__content {
				color: $black;
			}
		}
	}

	&.tile-white {

		.tile__image {

			&::before {
				display: none;
			}
		}

		.tile__content {
			color: $black;
			background: $white;
		}
				
		.btn-arrow {
			color: $black;

			&:hover {
				color: $black;
			}
		}
				
		&:hover {

			.tile__content {
				color: $black;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		height: 320px;

		&__content {
			min-height: calc(100% - 150px);
		}

		&__title {
			font-size: 2.4rem;
			line-height: 110%;
			margin-bottom: 15px;
		}

		&.tile-base {
				
			.tile__image {
				height: 150px;
			}

			.tile__content {
	
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		height: 340px;
	}
	
	@media (min-width: $screen-xl-min) {
		height: 450px;

		&__link  {
			opacity: 0;
			display: flex;
			transition: .3s;
		}

		.tile__content {
		//	bottom: -30px;
			transform: translateY(0);
	//		min-height: calc(100% - 205px);
			min-height: inherit;
			padding: 30px 60px 30px 30px;
			transition: .3s;
		}
		
		&:hover {
	
			.tile__link {
				opacity: 1;
				transition: .3s;
			}

			.tile__content {
		//		transform: translateY(-30px);
				transition: .3s;
			}
		}
		
		&.tile-base {
				
			.tile__image {
				height: 235px;
			}

			.tile__content {
			}
		}

		&.tile-scale {

			.tile__image {
				@include scale(1);	
				transition: .3s;
			}

			&:hover {

				.tile__image {
					@include scale(1.1);	
					transition: .3s;
				}
			}
		}
	}
	
}

.pagination-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-download {
	color: #000;
    font-weight: 700;
    font-size: 1.6rem;
	line-height: 110%;
	letter-spacing: .11em;
	margin: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-family-head;
	transition: .3s;
	text-transform: uppercase;

	i {
		width: 30px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
	}

	span {
		padding-left: 12px;
		white-space: nowrap;
		display: inline-block;
	}

	&:hover {
		color: $yellow;
		text-decoration: none;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
	}	
}


.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &__counter {
        color: $white;
        margin: 0 20px;
        font-size: 1.4rem;
        line-height: 110%;
        text-align: center;
        font-family: $font-family-head;
        order: 2;

        &--total {
            opacity: .5;
        }

        &--active {
            font-size: 3rem;
            font-weight: 900;
            line-height: 110%;
        }
    }

    &__button {
        width: 46px;
        height: 46px;
        opacity: .6;
        border: none;
        outline: 0;
        display: block;
        cursor: pointer;
        transition: .3s;
        flex-shrink: 0;
        opacity: 0.7;
		transition: .3s;
		border-radius: 50%;
		position: relative;
		border: 1px solid #fff;

		i {
			top: 50%;
			left: 50%;
			width: 10px;
			height: 18px;
			display: block;
			position: absolute;
			margin: -9px 0 0 -5px;
		}

		svg {
			fill: $white;
		}
        
        &:hover {
			opacity: 1;
			
			svg {
				fill: $white;
			}
        }

        &--prev {
            order: 1;
        }
        
        &--next {
            @include rotate(180deg);
            order: 3;
        }
    }

    @media (min-width: $screen-md-min) {
    
        &__button {
            width: 54px;
			height: 54px;
			
			i {
				width: 16px;
				height: 21px;
				margin: -11px 0 0 -8px;
			}
        }

        &__counter {
            font-size: 1.8rem;

            &--active {
                font-size: 3.6rem;
            }
        }
    }

    
    @media (min-width: $screen-xl-min) {
        flex-direction: column;

        &__counter {
			margin: 0 0 10px 0;
			order: 1;
        }

        &__button {

            &--prev {
				order: 3;
			}
			
			&--next {
				order: 2;
                margin-bottom: 25px;
			}
        }
    }
}

.job-slider {
	position: relative;
	background: #FFD028;
	margin: 0 -20px 30px -20px;

	&:after,
	&::before {
		top: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		opacity: 0.5;
		width: 1000px;
		display: block;
		position: absolute;
		background: #FFD028;
	}

	&:after {
		left: calc(100% + 10px);
	}
	
	&::before {
		right: calc(100% + 10px);
	}

	&__item {
		height: 338px;
		padding: 30px;
		position: relative;
		background: #FFD028;

		&--content {
			z-index: 20;
			font-size: 2rem;
			font-weight: 600;
			line-height: 130%;
			text-align: center;
			position: relative;
			font-family: $font-family-head;
		}

		&--title {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 110%;
			margin-bottom: 10px;
			letter-spacing: 0.11em;
			text-transform: uppercase;
		}

		&--text {
			max-width: 280px;
			margin: 0 auto;
		}

		&--image {
			bottom: 0;
			right: 50%;
			z-index: 5;
			width: 236px;
			position: absolute;
			margin-right: -118px;
		}
	}

	&__nav {
		top: 50%;
		z-index: 100;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		outline: none;
		border: none;
		margin-top: -15px;
		border-radius: 50%;
		position: absolute;
		background: #fff;
		display: inline-block;

		i {
			top: 50%;
			left: 50%;
			height: 12px;
			position: absolute;
			display: inline-block;
			margin: -6px 0 0 -3px;
		}

		svg {
			fill: $black;
		}

		&--prev {
			left: 20px;
		}

		&--next {
			right: 20px;
			@include rotate(180deg);
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto 30px auto;

		&__item {
			height: 238px;
			display: flex;
			padding: 40px;
			overflow: hidden;
			flex-direction: column;

			&--content {
				margin: auto 0;
				text-align: left;
			}

			&--text {
				margin: 0;
				max-width: 360px;
			}

			&--image {
				right: 0;
				margin-right: 0;
			}
		}

		&__nav {

			&--prev {
				left: -55px;
			}

			&--next {
				right: -55px;
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
		width: 538px;
		margin-bottom: 35px;

		&__item {

			&--content {
				font-size: 2.4rem;
				line-height: 130%;
			}

			&--title {
				font-size: 1.8rem;
				margin-bottom: 15px;
			}

			&--text {

			}

			&--image {

			}
		}
			
		&__nav {
			width: 54px;
			height: 54px;
			margin-top: -27px;

			i {
				height: 20px;
				margin: -10px 0 0 -5px;
			}
			
			&--prev {
				left: -100px;
			}

			&--next {
				right: -100px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		width: 718px;
		margin-bottom: 50px;

		&__item {

			&--image {
				width: 303px;
			}
		}
		
		&__nav {

			&--prev {
				left: -75px;
			}

			&--next {
				right: -75px;
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {

		&::after {
			opacity: 1;
		}
	
		&__item {

			&--title {
				opacity: 0.5;
			}
		}
	}
	
}

.job-advantage {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.6rem;
	line-height: 135%;
	text-align: center;

	li {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		width: 70px;
		margin: 0 auto 10px auto;
		flex-shrink: 0;
	}

	&__title {
		font-size: 2rem;	
		font-weight: 600;
		line-height: 110%;
		margin-bottom: 10px;
	}

	@media (min-width: $screen-md-min) {
		text-align: left;
		font-size: 1.8rem;
		line-height: 135%;

		li {
			display: flex;
			margin-bottom: 30px;
			align-items: flex-start;
				
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__content {
			padding-left: 20px;
		}

		&__title {
			font-size: 2.4rem;
		}
	}
	
	@media (min-width: $screen-lg-min) {

		li {
			margin-bottom: 40px;
						
			&:last-child {
				margin-bottom: 0;
			}
		}
	
		&__title {
			margin-bottom: 15px;
		}

		&__content {
			padding-left: 45px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		font-size: 2rem;
		line-height: 135%;

		&__title {

		}
	}
	
	
}

.vacancy {
	color: $black;
	display: block;
	outline: none;
	margin-bottom: 20px;
	text-decoration: none;
	background: #F8F8F8;
	border: 2px solid #DFDFDF;

	&__header {
		padding: 30px 20px 20px 20px;
		border-bottom: 2px solid #DFDFDF;

		&--price {
			margin-bottom: 10px;
		}

		&--title {
			font-size: 2rem;
			font-weight: 600;
			line-height: 130%;
			margin-bottom: 10px;
			font-family: $font-family-head;
		}

		&--hot {
			font-size: 1.4rem;
			line-height: 2rem;
			display: flex;
			align-items: center;

			i {
				width: 15px;
				margin-right: 10px;
				display: block
			}

			span {
				display: block;
			}
		}
	}

	&__price {
		font-weight: 600;
		font-size: 2rem;
		line-height: 3rem;
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-family: $font-family-head;

		&--value {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
		}

		&--label {
			padding-left: 8px;
		}
	}
	
	&__main {
		padding: 20px 20px 20px 20px; 
	}

	&__info {
		margin-bottom: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding-left: 20px;
				position: relative;
				margin-bottom: 15px;

				&::before {
					left: 0;
					top: 6px;
					content: '';
					width: 10px;
					height: 10px;
					border-radius: 50%;
					position: absolute;
					background: #ffd028;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__tags {
		margin: 0 -12px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&--item {
			color: #000;
			font-size: 1.6rem;
			line-height: 2.4rem;
			padding: 5px 20px;
			border-radius: 18px;
			display: inline-block;
			text-decoration: none;
			white-space: nowrap;
			margin: 0 12px 10px 12px;
			border: 2px solid #DFDFDF;

			&:hover {
				color: #000;
				background: #DFDFDF;
				text-decoration: none;
			}
		}
	}
		
	&:hover {
		color: $black;
		border-color: $yellow;
		text-decoration: none;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 40px;

		&__header {
			display: flex;
			padding: 30px 35px 30px 30px;
			justify-content: space-between;

			&--price {
				order: 2;
				margin: 0;
				padding: 0;
			}

			&--content {
				order: 1;
			}

			&--title {
				font-size: 2.4rem
			}
		}

		&__price {
			display: block;
			font-size: 2.4rem;
			text-align: right;

			&--value {
				font-size: 3.6rem;
				line-height: 4rem;
			}
		}

		&__main {
			padding: 30px 35px 30px 30px;
		}

		&__info {
			margin-bottom: 40px;

			ul {

				li {

					&::before {
						top: 9px;
					}
				}
			}
		}

		&__tags {

			&--item {
				font-size: 1.8rem;
				padding: 7px 25px;
				border-radius: 21px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {

	}
	
	@media (min-width: $screen-xl-min) {
	
		&__tags {

			&--item {
				font-size: 2rem;
			}
		}
	}
	
	
}

.vacancy-lead {
	border-radius: 20px;
	margin-left: -20px;
	margin-right: -20px;
	border: 5px solid $yellow;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

	@media (min-width: $screen-md-min) {
	margin-left: -5px;
	margin-right: -5px;
	}
}

.job-modal  {
	padding: 0;
	width: 100%;
	max-width: 800px;

	&__header {
		padding: 60px 20px;
		background: $yellow;
	}

	&__primary {
		margin-bottom: 20px;
		font-family: $font-family-head;

		&--title {
			font-size: 3rem;
			font-weight: 600;
			line-height: 110%;
			margin-bottom: 10px;
		}

		&--pay {
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 110%;
		}
	}

	&__info {
		margin: 0;
		padding: 0;
		font-size: 1.6rem;
		line-height: 150%;
		list-style: none;

		li {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--label {
			font-weight: 600;
			width: 150px;
			flex-shrink: 0;
		}
	}

	&__main {
		font-size: 1.6rem;
		line-height: 150%;
		padding: 30px 20px 40px 20px;

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 20px 0;

			li {
				padding-left: 43px;
				margin-bottom: 25px;
				background: url('../img/icon__check_arrow.svg') 0 4px no-repeat;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__form {
		padding: 60px 20px;
		background: #DFDFDF;

		&--title {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 110%;
			text-align: center;
			margin-bottom: 20px;
			font-family: $font-family-head;
		}

		&--item {
			margin-bottom: 30px;
		}

		&--file {
			text-align: center;
			margin-bottom: 40px;
		}

		&--button {
			text-align: center;
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			padding: 70px 40px 30px 40px;
		}

		&__primary {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&--title {
				font-size: 6rem;
				font-weight: 600;
				line-height: 110%;
			}

			&--pay {
				font-size: 3.6rem;
				line-height: 110%;	
			}
		}

		&__info {
			font-size: 1.8rem;
			line-height: 150%;

			li {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&--label {
				width: 200px;
			}
		}

		&__main {
			padding: 30px 40px 40px 40px; 

			ul {
				max-width: 650px;

				li {
					min-height: 30px;
					padding-top: 3px;
					background-position: 0 0;
				}
			}

			h2,
			.h2 {
				margin-bottom: 20px;
			}
		}

		&__form {
			padding: 70px 40px;

			&--title {
				font-size: 3.6rem;
				line-height: 110%;
				margin-bottom: 50px;
			}

			&--row {
				margin: 0 -20px;
				display: flex;
				flex-wrap: wrap;
			}

			&--item {
				width: 33.33%;
				padding: 0 20px;
				margin-bottom: 54px;

				&.form-long {
					width: 100%;
				}
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
	
	}
	
	@media (min-width: $screen-xl-min) {
		max-width: 1030px;

		&__header {
			padding: 70px 100px 30px 100px;
		}
		&__main {
			padding: 30px 100px 40px 100px; 

			ul {
				max-width: 650px;

				li {
					min-height: 30px;
					padding-top: 3px;
					background-position: 0 0;
				}
			}
		}

		&__form {
			padding: 70px 100px;
					
			&--row {
				margin: 0 -45px;
				display: flex;
				flex-wrap: wrap;
			}

			&--item {
				padding: 0 45px;
				margin-bottom: 54px;
			}
		}
	}
	
}

.btn-file {
	color: $black;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	padding-left: 30px;
	position: relative;
	max-width: 280px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0.11em;
	text-transform: uppercase;

	&:hover {
		color: $yellow;
		text-decoration: none;
	}

	&::before {
		left: 0;
		top: 50%;
		z-index: 2;
		content: '';
		width: 25px;
		height: 27px;
		display: block;
		margin-top: -13px;
		position: absolute;
		background: url('../img/icon__upload.svg') 50% 50% no-repeat;
	}
	
	&::after {
		left: 0;
		top: 50%;
		opacity: 0;
		z-index: 2;
		content: '';
		width: 25px;
		height: 27px;
		display: block;
		margin-top: -13px;
		visibility: hidden;
		position: absolute;
		background: url('../img/icon__ok.svg') 50% 50% no-repeat;
	}
}

.upload-modal {
	padding: 0;
	width: 100%;
	max-width: 800px;
	padding: 40px 30px;
	background: $white;

	&__wrap {
		width: 100%;
		margin: 0 auto;
		max-width: 822px;
	}

	@media (min-width: $screen-md-min) {
		padding: 50px 50px;
	}

	@media (min-width: $screen-lg-min) {
	}

	
	@media (min-width: $screen-xl-min) {
		max-width: 1030px;
		padding: 84px 100px;
	}
}

.upload-box {
	height: 300px;
	position: relative;
	border-radius: 20px;
	border: 3px dashed #FFD028;
	display: flex;
	flex-direction: column;

	&__wrap {
		margin: auto 0;
	}

	&__label {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 110%;
		text-transform: uppercase;
		font-family: $font-family-head;
		display: block;
		text-align: center;

		&--icon {
			width: 50px;
			display: block;
			margin: 0 auto 15px auto;
		}

		&--text {

		}
	}

	&__form {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: 20;
		display: block;
		position: absolute;
		border-radius: 20px;

		&--input {
			top: 0;
			left: 0;
			width: 1px;
			height: 1px;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
			position: absolute;
		}
	}

	&:hover {
		background: rgba(255, 208, 40, 0.05);
	}

	@media (min-width: $screen-md-min) {
		height: 400px;
	}
	@media (min-width: $screen-xl-min) {
		height: 432px;
	}
	
}

.contact {
	padding-bottom: 60px;

	&__main {
		margin-bottom: 60px;
	}

	&__list {
		margin: 0;
		padding: 0;
		font-size: 2rem;
		font-weight: 500;
		line-height: 2.4rem;
		list-style: none;
		font-family: $font-family-head;

		li {
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__phone {
		color: $black;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		padding: 2px 0 2px 46px;
		background: url('../img/contact__icon__phone.svg') 0 50% no-repeat;

		&:hover {
			color: $black;
			text-decoration: none;
		}
	}
	
	&__email {
		color: $black;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		padding: 2px 0 2px 46px;
		background: url('../img/contact__icon__email.svg') 0 50% no-repeat;

		&:hover {
			color: $black;
			text-decoration: none;
		}
	}

	
	&__address {
		color: $black;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		padding: 2px 0 2px 46px;
		background: url('../img/contact__icon__address.svg') 0 4px no-repeat;
	}

	&__form {
		max-width: 432px;

		&--group {
			margin-bottom: 30px;
		}

		&--button {
			text-align: center;
			padding-top: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__list {
			font-size: 2.4rem;
			line-height: 2.9rem;

			li {
				margin-bottom: 36px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&__email {
			background-position: 0 8px;
		}

		&__form {

			&--group {
				margin-bottom: 30px;
			}

			&--button {
				text-align: left;
				padding-top: 20px;
			}
		}
	}
	
	@media (min-width: $screen-lg-min) {
		display: flex;
		justify-content: space-between;

		&__main {
			margin: 0;
			width: 380px;
			padding-top: 20px;
		}

		&__form {
			width: 433px;
			flex-shrink: 0;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		padding-top: 40px;

		&__list {
	
			li {
				margin-bottom: 36px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	
		&__form {
			width: 574px;
			max-width: inherit;

			&--row {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&--group {
				width: calc(50% - 17px);

				&.group-long {
					width: 100%;
				}
			}

			&--button {
				width: 100%;
			}

			textarea.field__input {
				height: 40px;
			}
		}
	}
	
	
}

.modal {
	padding: 0;
	color: $white;
	width: 100%;
	max-width: 675px;
	background: #22201E;

	&__main {
		padding: 50px 30px;
	}

	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 110%;
		text-align: center;
		margin-bottom: 40px;
		font-family: $font-family-head;
	}

	&__form {

		&--item {
			margin-bottom: 30px;
		}

		&--button {
			text-align: center;
			padding-top: 10px;
		}
	}

	.fancybox-button svg path {
		fill: $dark !important;
	}

	@media (min-width: $screen-md-min) {
		width: 675px;
		
		&__main {
			padding: 70px 50px;
		}
			
		&__form {

			&--row {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&--item {
				width: calc(50% - 17px);
				margin-bottom: 40px;

				&.form-long {
					width: 100%;
				}
			}

			&--button {
				width: 100%;
			}
		}
	}
}

.vacancy-download {
	margin-bottom: 40px;
	text-align: center;

	@media (min-width: $screen-md-min) {
		margin-bottom: 70px;
	}	
}

.btn-plus {
    color: $black;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
    position: relative;
    white-space: nowrap;
	display: inline-block;
	letter-spacing: 0.11em;
	padding-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
	font-family: $font-family-head;

	&::after,
	&::before {
		left: 0;
		top: 50%;
		z-index: 5;
		content: '';
		width: 26px;
		height: 4px;
		margin-top: -2px;
		position: absolute;
		background: $yellow;
		display: inline-block;
	}

	&::before {
		@include rotate(90deg);
	}
	
	&:hover {
		color: $yellow;
		text-decoration: none;
	}

	
	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
	}

}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

