* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	color: $black;
	font-family: $font-family-base;
	background: #F8F8F8;
	font-size: 1.6rem;
	line-height: 130%;

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		line-height: 150%;
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		font-size: 2rem;
		line-height: 150%;
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter);
	padding-right: ($gutter);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 1.1;
}

h1, .h1 {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 25px;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 5rem;
	}
	
	@media (min-width: $screen-lg-min) {
		font-size: 6rem;
	}
}

h2, .h2 {
	font-size: 	2.4rem;
	margin-bottom: 15px;
	font-family: $font-family-head;
	
	@media (min-width: $screen-md-min) {
		font-size: 3.6rem;
	}
}

h3, .h3 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 25px;
	font-family: $font-family-head;
		
	@media (min-width: $screen-md-min) {
		font-size: 2.4rem;
	}
}

h4, .h4 {
	font-size: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 20px 0;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}
