.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1200;
	position: fixed;
	background: #22201E;

	&__wrap {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__logo {
		width: 67px;
		display: block;
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;
		text-decoration: none;

		span,
		&:after,
		&::before {
			top: 50%;
			left: 50%;
			z-index: 5;
			width: 24px;
			height: 2px;
			content: '';
			background: $white;
			position: absolute;
			display: block;
			border-radius: 2px;
			margin-left: -12px;
			transition: .3s;
		}

		span {
			margin-top: -1px;
		}

		&::after {
			margin-top: -8px;
		}

		&::before {
			margin-top: 6px;
		}
	}

	&__nav {
		font-size: 1.6rem;
		line-height: 2rem;
		display: none;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			align-items: center;

			> li {
				margin: 0 12px;

				> a {
					color: #fff;
					text-decoration: none;
					display: inline-block;

					&:hover {
						color: $yellow;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__contact {
		display: none;
		color: #fff;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 1.6rem;
		padding-bottom: 5px;
		text-decoration: none;
		border-bottom: 2px solid $yellow;

		span {
			padding-right: 10px;
			white-space: nowrap;
			display: inline-block;
		}

		i {
			width: 31px;
			font-size: 0;
			line-height: 0;
			flex-shrink: 0;
			position: relative;
			display: inline-block;
			
			&::before {
				top: 50%;
				left: 0;
				content: '';
				width: 20px;
				height: 2px;
				display: block;
				margin-top: -1px;
				position: absolute;
				background: $yellow;
			}
		}

		svg {
			left: 0;
			fill: $yellow;
			position: relative;
			transition: .3s;
		}

		&:hover {
			color: $yellow;
			text-decoration: none;
			
			svg {
				left: 20px;
				transition: .3s;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			height: 60px;
		}

		&__logo {
			width: 73px;
		}
	}
	
	@media (min-width: $screen-lg-min) {

		&__wrap {
			height: 80px;
		}
	
		&__toggle {
			display: none;
		}

		&__nav {
			display: block;
		}

		&__contact {
			display: flex;
			align-items: center;
		}
	}
	
	@media (min-width: $screen-xl-min) {

		&__logo {
			width: 112px;
		}
	
		&__nav {

			> ul {

				li {
					margin: 0 27px;
				}
			}
		}
	}
}

.nav-mobile {
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	visibility: hidden;
	z-index: -1;
	position: fixed;
	background: #22201E;

	&__content {
		margin:  auto 0;
		padding-top: 10px;
		padding-bottom: 40px;
		background: #22201E;
	}

	&__logo {
		width: 150px;
		display: block;
		margin: 0 auto 40px auto;
	}

	&__menu {
		font-size: 2rem;
		line-height: 2.9rem;
		text-align: center;

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			> li {
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				> a {
					color: $white;
					text-decoration: none;

					&:hover {
						color: $yellow;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__form {
		display: none;
	}

	&__title {
		color: #000;
		font-size: 3rem;
		font-weight: 600;
		line-height: 110%;
		text-align: center;
		margin-bottom: 30px;
		font-family: $font-family-head;
	}

	&__item {
		margin-bottom: 15px;
	}

	textarea.field {
		height: 80px;
		resize: vertical;
	}


	@media (min-width: $screen-sm-min) {

	}
	
	@media (min-width: $screen-md-min) {
		top: 60px;
		display: block;
		background: $yellow;
			
		&__title {
			font-size: 5rem;
			margin-bottom: 50px;
		}
		
		&__menu {
			font-size: 2.4rem;
			line-height: 2.9rem;
			text-align: center;

			> ul {
				
				> li {
					margin-bottom: 38px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}  
		
		&__form {
			padding: 40px 0;
			display: block;
			background: $yellow;
		}

		&__row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		&__item {
			margin-bottom: 40px;
			width: calc(50% - 24px);

			&--long {
				width: 100%;
			}
		}

		textarea.field {
			height: 40px;
			resize: vertical;
		}

	}	
	
	@media (min-width: $screen-lg-min) {
		display: none;
	}
	
}

.nav-open {

	.header__toggle {

		span {
			opacity: 0;
			visibility: hidden;
			transition: .3s;
		}

		&::after {
			margin-top: 0;
			@include rotate(45deg);
			transition: .3s;
		}
		
		&::before {
			margin-top: 0;
			@include rotate(-45deg);
			transition: .3s;
		}
	}

	.header__logo {
		opacity: 0;
	}

	.nav-mobile {
		opacity: 1;
		z-index: 1100;
		visibility: visible;
	}

	@media (min-width: $screen-lg-min) {
		
		.header__logo {
			opacity: 1;
		}
	}
}



