
.btn {
	min-width: 252px;
	color: $black;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2rem;
	padding: 17px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0.11em;
	background: transparent;
	text-transform: uppercase;
	border: 2px solid $black;
	border-radius: 29px;	
	
	svg {
		fill: $black;
	}

	&:hover {
		color: $white;
		background: $blue;
		border-color: $blue;
		text-decoration: none;
		
		svg {
			fill: $white;
		}
	}

	&:active {
		color: $black;
		background: transparent;
		border-color: $black;
	}

	&:focus,
	&.focus {
		outline: 0;
	}	
}

.btn-white {
	color:  $white;
	border-color: $white;

	&:hover {
		color: $dark;
		background: $white;
		border-color: $white;
	}

	&:active {
		color:  $white;
		border-color: $white;
		background: transparent;
	}
}

.btn-arrow {
	display: flex;
	color: $black;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.8rem;
	padding-bottom: 5px;
	letter-spacing: 0.11em;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid $yellow;

	span {
		padding-right: 10px;
		white-space: nowrap;
		display: inline-block;
	}

	i {
		width: 31px;
		height: 16px;
		font-size: 0;
		line-height: 0;
		flex-shrink: 0;
		position: relative;
		display: inline-block;
		
		&::before {
			top: 50%;
			left: 0;
			content: '';
			width: 20px;
			height: 2px;
			display: block;
			margin-top: -1px;
			position: absolute;
			background: $yellow;
		}
	}

	svg {
		left: 0;
		fill: $yellow;
		position: relative;
		transition: .3s;
	}

	&:hover {
		color: $black;
		text-decoration: none;
		
		svg {
			left: 20px;
			transition: .3s;
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
	}
}